{{ define "header" }}
<section id="banner">
    <div class="content">
        <header>
            <h1>Food recipes</h1>
        </header>
        <p>
            This is my collection of recipes which I like and prepare on a regular basis.
            The site helps to:
        </p>
        <ul>
            <li>quickly decide what to eat tonight/tomorrow/etc</li>
            <li>quickly look up the ingredients needed when you're in the store</li>
            <li>inspire you to try something new, simple and delicious</li>
        </ul>
        <p>
            I am a techie in life and don't like to waste time with unnecessary facts.
            The instructions are as concise and easy to follow as possible: only the
            basic directions you need. I don't talk about feelings involved
            during the making, the tasting or the sharing of the dish. Those are all for you to experience
            on your own. Enjoy 😋
        </p>
    </div>
    <div class="image object">
        <img src="{{ "images/banner.jpg" | relURL }}" alt=""/>
    </div>
</section>
{{ end }}

{{ define "main" }}
<section>
    <header class="major">
        <h2>Latest</h2>
    </header>

    {{ range .Site.RegularPages.ByDate.Reverse | first 1 }}
    <span class="image right">
        <a href="{{ .Permalink }}" class="image"><img src="{{ .Section | relURL}}/{{ .Params.Image }}" alt=""/></a>
    </span>
    <h2><a href="{{ .Permalink }}" class="image">{{ .Title }}</a></h2>

    {{ range where .Site.Sections "Name" .CurrentSection.Name}}
    <a href="{{ .Permalink }}" class="button primary">
        {{ .Title }}
    </a>
    {{ end }}

    <p>
        {{ .Summary }}
    </p>
    <ul class="actions">
        <li><a href="{{ .Permalink }}" class="button">More</a></li>
    </ul>
    {{ end }}
</section>
{{ end }}
