{{ define "subtitle" }}: {{ .Title }}{{ end }}

{{ define "main" }}
<section id="banner">
    <header>
        <h1>{{ .Title }}</h1>
        <p>
            {{ range .Params.tags }}
            <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}" class="button small">{{ . }}</a>
            {{ end }}
        </p>
    </header>
    <div class="image object">
        <img src="../{{ .Params.Image }}" alt=""/>
    </div>
</section>

<section>
    <h2>Ingredients</h2>
    <p>{{ .Content }}</p>

    <a href="https://gitlab.com/kasabov/pages/-/blob/master/food/content/{{ .File.Path }}" class="icon brands fa-gitlab">
        <span class="label">Github</span> Suggest an improvement
    </a>
</section>

<div id="disqus_thread"></div>
<script>

    var disqus_config = function () {
        this.page.url = '{{ .Permalink }}';  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = '{{ .File.BaseFileName }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://kasabov-food.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{{ end }}
